/* 左右間距30px, 寬320*長600,  icon 長寬*/

/* body {
    background-color: black;
} */
/* 分清楚語意跟style, 有語意的話才需要另外建標籤，不然style的話用pseduo element css 即可*/
.app {
    /* margin->border->padding->content*/
    /* 最外層 */
    width: 320px;
    /* height: 600px; */
    background-color: black;
    border-radius: 30px;
    /* 內兼具，不能有顏色 */
    padding: 0 30px;
    /* 自動把paading扣在內間距，不然padding default是會往上加width外層*/
    box-sizing: border-box;
    /* border: 20px solid firebrick; */     
    /* 一個數字 四邊都有 兩個數字 1. 上下 2. 左右 三個 上 左右一樣 下 */

}

.header {
    height: 74px;
    /* flex  */
    display: flex;
    /* align是上下分配 */
    align-items: center;
    /* 左右分配 */
    justify-content: center;
}

/* Pseudo element預設是inline(文字)，不是block */
.header::before {
    width: 130px;
    height: 20px;
    content: "";
    display: block;
    /* color是文字顏色 */
    background-color: white;
    border-radius: 5px;
    
    /* position: absolute; */
}

.content {
    /* content 預設高度是item的高度 */
    position: relative;
    height: 390px;
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    padding: 25px 22px;

}


.lock-page {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("images/locker.jpg");
    background-size: cover;

}

.renderTime {
    position: absolute;
    left: 50%;
    top: 20%;
    /* transform  */
    transform: translate(-50%, -50%);
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;

}

.renderDate {
    position: absolute;
    left: 50%;
    top: 30%;
    /* transform  */
    transform: translate(-50%, -50%);
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}


.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color:rgba(red, green, blue, 0.8); */
      /* Add the blur effect */
     filter: blur(8px);
    /* -webkit-filter: blur(8px); */
    top: 0;
    left: 0;

    background-image: url(images/wallpaper.jpg);
    background-size: cover;

}



.content > ul {
    margin: 0;
    /* default有padding */
    padding: 0;
    list-style-type: none;
    /* 預設單列排版 */
    display: flex;
    /* 自動斷行，default不斷行 */
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* 空格是子孫元素 */
.content li {
    /* margin: 0px 6px 8px; */
    margin: 0 0 13px;
    width: 25%;

    /* inline元素 所以是用textalign */
    text-align: center;
}

/* grandchild element :space */
.content p {
    margin: 1px 0;
    font-size: 9px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content a {
    /* text-decoration: none; */
}


.icon {
    width: 36px;
    height: 36px;
    /* 可以不打height, default = width */
    border-radius:5px;
}

/* div預設屬性block */
.whitewrap {
    width: 36px;
    height: 36px;
    padding: 0 5px;
    /* 對外屬性inline，flex只對自己的子元素有作用 */
    display: inline-flex;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 4px;
    border-radius: 5px;
}

.whitewrap > img {
    width: 100%;
    height: auto;
}

.footer {
    height: 139px;
    display: flex;
    /* align是上下分配 */
    align-items: center;
    /* 左右分配 */
    justify-content: center;
    
}

.footer > button {
    width: 54px;
    height: 54px;
    border: none;
    border-radius: 100%;
    color: transparent;
}
